.banner__imagen {
    background: url("/assets/img/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: calc(100vh - 250px);

}